<div class="row">
  <div class="col-md-6">
    <h3>Day 1</h3>
    <table class="table table-striped">

  <tr>
	     <td>Before starting</td>
	     <td><a href= "https://ucsb.co1.qualtrics.com/jfe/form/SV_1ZgWPiOst63DJ42" target="_blank">Pre-workshop survey</a></td>
  </tr>

  <tr>
        <td>9:30 am</td>
        <td>Workshop Introduction</td>
  </tr>

	<tr>
        <td>9:40 am</td>
        <td><a href= "https://djhunter.github.io/r-ml-tabular-data/01-Intro/index.html">A Brief Introduction to Machine Learning	</a></td>
  </tr>

  <tr>
        <td>9:55 am</td>
        <td><a href= "https://djhunter.github.io/r-ml-tabular-data/02-Linear-Logistic/index.html">Linear and Logistic Regression</a></td>
  </tr>

  <tr>
        <td>10:45 am</td>
        <td>Break</td>
  </tr>

  <tr>
        <td>10:55 am</td>
        <td><a href= "https://djhunter.github.io/r-ml-tabular-data/03-Decision-Trees/index.html">Decision Trees</a></td>
  </tr>

  <tr>
        <td>11:50 am</td>
        <td><a href= "https://djhunter.github.io/r-ml-tabular-data/04-Decision-Forests/index.html">Random Forests</a></td>
  </tr>

  <tr>
        <td>12:50 pm</td>
        <td><a href= "">Review</a></td>
  </tr>

  <tr>
        <td>1:00 pm</td>
        <td>End Day 1</td>
  </tr>

    </table>
  </div>

  <div class="col-md-6">
    <h3>Day 2</h3>
    <table class="table table-striped">

    <tr>
         <td>9:30 am</td>
         <td>Review</td>
    </tr>

    <tr>
  	     <td>9:40 am</td>
  	     <td><a href= "https://djhunter.github.io/r-ml-tabular-data/04-Decision-Forests/index.html">Random Forests</a></td>
    </tr>

  	<tr>
          <td>10:10 am</td>
          <td><a href="https://djhunter.github.io/r-ml-tabular-data/05-Gradient-Boosting/index.html">Gradient Boosted Trees</a></td>
    </tr>

    <tr>
      <td>10:50 am</td>
      <td>Break</td>
</tr>

  	<tr>
          <td>11:00 am</td>
          <td><a href="https://djhunter.github.io/r-ml-tabular-data/05-Gradient-Boosting/index.html">Gradient Boosted Trees</a></td>
    </tr>
	    
    <tr>
          <td>11:30 am</td>
          <td><a href="https://djhunter.github.io/r-ml-tabular-data/06-Exploration/index.html">Cross Validation and Tuning</a></td>
    </tr>

    <tr>
          <td>12:45 am</td>
          <td>Review</td>
    </tr>

    <tr>
          <td>1:00 pm</td>
          <td>END Workshop</td>
    </tr>

    <tr>
          <td>After</td>
          <td><a href= "https://ucsb.co1.qualtrics.com/jfe/form/SV_brvYXIDO8qanXvg">Post-Workshop Survey</a></td>
    </tr>

    </table>
  </div>
</div>
