<div class="row">
  <div class="col-md-6">
    <h3>Day 1</h3>
    <table class="table table-striped">

  <tr>
	     <td>Before starting</td>
	     <td><a href= "" target="_blank">Pre-workshop survey</a></td>
  </tr>

  <tr>
        <td>9:30 am</td>
        <td>Workshop Introduction</td>
  </tr>

	<tr>
        <td>9:40 am</td>
        <td><a href= "">A Brief Introduction to Machine Learning	</a></td>
  </tr>

  <tr>
        <td>10:00 am</td>
        <td><a href= "">Linear and Logistic Regression</a></td>
  </tr>

  <tr>
        <td>10:45 am</td>
        <td>Break</td>
  </tr>

  <tr>
        <td>10:55 am</td>
        <td><a href= "">Decision Trees</a></td>
  </tr>

  <tr>
        <td>11:40 am</td>
        <td><a href= "">Random Forests</a></td>
  </tr>

  <tr>
        <td>12:20 pm</td>
        <td><a href= "">Review</a></td>
  </tr>

  <tr>
        <td>12:30 pm</td>
        <td>End Day 1</td>
  </tr>

    </table>
  </div>

  <div class="col-md-6">
    <h3>Day 2</h3>
    <table class="table table-striped">

    <tr>
         <td>9:30 am</td>
         <td>Review</td>
    </tr>

    <tr>
  	     <td>9:40 am</td>
  	     <td><a href= "">Random Forests</a></td>
    </tr>

  	<tr>
          <td>10:10 am</td>
          <td><a href="">Gradient Boosted Trees</a></td>
    </tr>

    <tr>
      <td>10:50 am</td>
      <td><a href= "">Break</a></td>
</tr>

    <tr>
          <td>11:00 am</td>
          <td>Cross Validation and Tuning</td>
    </tr>

    <tr>
          <td>12:20 am</td>
          <td>Review</td>
    </tr>

    <tr>
          <td>12:30 pm</td>
          <td>END Workshop</td>
    </tr>

    <tr>
          <td>After</td>
          <td><a href= "">Post-Workshop Survey</a></td>
    </tr>

    </table>
  </div>
</div>
